.contact {
  height: 80vh;
  position: relative;
}

.c-bg {
  width: 20px;
  height: 100%;
  background-color: #84f0a6;
  position: absolute;
}

.c-wrapper {
  padding: 50px;
  display: flex;
}

.c-left {
  flex: 1;
}

.c-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.c-title {
  font-size: 3.5vw;
  width: 80%;
}

.c-info-item {
  display: flex;
  align-items: center;
  margin: 50px 60px;
  font-weight: 300;
  font-size: 1.2vw;
  width: 70%;
}

.c-icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.c-description {
  font-weight: 300;
  display: flex;
  font-size: 1.2vw;
}

form {
  margin-top: 20px;
}

input {
  width: 50%;
  height: 50px;
  border: none;
  border-bottom: 1px solid black;
  margin: 10px 0px;
  font-size: 1.2vw;
  padding-left: 10px;
}

textarea {
  width: 90%;
  margin: 10px 0px;
  font-size: 1.2vw;
  padding-left: 10px;
}

button {
  border: none;
  padding: 15px;
  background-color: #84f0a6;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

/* MEDIA QUERY FOR RESPONSIVE LAYOUT */

@media screen and (max-width: 480px) {
  .c-wrapper {
    flex-direction: column;
    padding: 0px 50px;
  }

  .c-title {
    font-size: 1.8vw;
  }

  .c-info-item {
    margin: 20px 0px;
    width: 100%;
  }

  .c-description {
    display: none;
  }

  form {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
  }

  input {
    width: 35%;
    height: 40px;
    margin: 10px;
    margin-left: 0;
  }

  button {
    margin-top: 10px;
  }
}
